Activate.ps1
activate
activate.csh
activate.fish
alembic
coloredlogs
ct2-fairseq-converter
ct2-marian-converter
ct2-openai-gpt2-converter
ct2-opennmt-py-converter
ct2-opennmt-tf-converter
ct2-opus-mt-converter
ct2-transformers-converter
distro
f2py
fabric
fonttools
google-oauthlib-tool
hf
httpx
huggingface-cli
humanfriendly
isympy
mako-render
markdown-it
nltk
normalizer
numba
numpy-config
onnxruntime_test
optuna
pip
pip3
pip3.10
pyannote-audio-eval
pyannote-audio-train
pyannote-database
pyannote-metrics
pyannote-pipeline
pyav
pyftmerge
pyftsubset
pygmentize
pygrun
pyrsa-decrypt
pyrsa-encrypt
pyrsa-keygen
pyrsa-priv2pub
pyrsa-sign
pyrsa-verify
pysemver
python
python3
python3.10
requirements.txt
tabulate
tiny-agents
torchfrtrace
torchrun
tqdm
transformers
transformers-cli
ttx
typer
whisper
whisperx
